<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APP</title>
</head>
<body>
<form action="/result" method="get">
    <p><strong>Category</strong></p>
    <p><label>
        <input name="category" value="nature">
    </label></p>
    <p><strong>Comments more than</strong></p>
    <p><label>
        <input name="comments"  value="5">
    </label></p>
    <p><strong>Likes more than</strong></p>
    <p><label>
        <input name="likes"  value="5">
    </label></p>
    <p><strong>How many photos</strong></p>
    <p><label>
        <input name="per_page" value="5">
    </label></p>
    <p><input type="submit"></p>
</form>
</body>
</html>